@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.portfolio-container{
  height: 100vh;
  max-height:100vh;
  width:100vw;
  background : #000005;
  color: #1e3d7b;
  font-size: 2rem;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  overflow:hidden;
}


#light {
  height: 800px;
  width: 800px;
  border-radius: 50% ;
  z-index:30;  
  background: radial-gradient(500px at 50% 50%, rgba(29, 78, 216, 0.25), transparent 80%);
  position: fixed;
  pointer-events: none; 
  transition: background-color 0.3s ease; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

.content{
  height:100%;
  max-height:100vh;
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position:relevant;
}

.Intro{  
  margin:50px;
  height:100%;
  max-height:100vh;
  grid-column:1/2;
  display:grid;
  grid-template-rows: 1fr 2fr ;
  color: white;
}
.welcome{
  height:50%;
  padding:10px;
  grid-row: 1/2;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items:center;
}
.nav{
  padding-top:20px;
  /* grid-row:2/3; */
  height:70%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:flex-start;
}
.social{
  height:10%;
  margin-top:20px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:space-evenly;
  color:#505177;
}
.icons{
  display:flex;
  justify-content:center;
}
.icons:hover{
  color:white;
  transform:scale(1.2);
  cursor:pointer
}

.sections {
  grid-column:2/3;
  height: 100%;
  max-height: 100vh;
  width:100vh;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items: center;
}
.section{
  height: 100%;
  max-height:100vh;
  width:100%;
  color:#909098;
  overflow:auto;
  padding-bottom:70px;
  margin:50px;
}
/* Hide scrollbar */
.section::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
}

.Load{
  width:100vw;
  height:100vh;
  background: #000000;
  display:flex;
  justify-content:center;
  align-items:center
}

.head-section,.down{
  display: none;
}










 @media  screen and (max-width: 768px) {
  .portfolio-container{
    height: 100vh;
    max-height:100vh;
    width:100%;
    background : #02021f;
    color: #1e3d7b;
    font-size: 2rem;
    transition: background-color 0.3s ease;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
  }
  
  
  .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100%;
    margin:0px;
  }

  .Intro {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .sections{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    margin:10px;
    padding:0px;
    z-index:-1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 40px;
  }

  .section{
    position:relative;
    margin-top:0;
    padding:0px;
  }

  .Welcome{
    width:80%;
    height:100%;
    margin:10px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  


  .display-2 {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }

  /* .sections {
    grid-column: 1/2;
    grid-row: 2/3;
    width:100vw;
    height:50%;
  } */
  #light{
    display: none;
  }

  .head-section{
    background-color: rgba(112, 109, 109, 0.8);
    top:0;
    background : #02021f;
    display: flex;
    justify-content: center;
    align-items: start;
    position: sticky;
    color:aqua;
  }

  .nav{
    height: 40%;
    width:100%;
    display: flex ;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .down {
    background-color: rgba(112, 109, 109, 0);
    color:aliceblue;
    position: -webkit-sticky;
    position: sticky;
    bottom:15px;
    animation: translateYAnimation 0.7s ease-in-out  infinite;
    display: flex;
    justify-content: center;
    height:15px;
    align-items: center;
  }
  
  @keyframes translateYAnimation {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(5px);
    }
    100%{
      transform: translateY(0px);
    }
  }

   .Load{
  overflow:hidden;
  width:100vw;
  height:100vh;
  background: #000000;
  display:flex;
  justify-content:center;
  align-items:center
   }
     
}
